@import './base.css';

#app {
  height: 100vh;
  width: 100%;
  max-width: 1980px; /* ตั้งค่าความกว้างสูงสุดตามที่ต้องการ */
  margin: 0 auto;
  font-weight: normal;
  box-sizing: border-box; 
  background-color: white;
  color: black;

}
